.App {
  text-align: center;
}

.frame {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
  background-image: linear-gradient(to top, rgb(131, 131, 131), rgb(255, 255, 255));
}

.frameLeft {
  display: block;
  width: 60%;
  
  
}

.frameRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 35%;
  margin: 2vw;
  
  
}

img.positionFixed {
  
  
  position: absolute;
  
  left: 7.5vw;
  
  max-width: 45vw;
  max-height: auto;
}

.productDetails {
  width: 95%;
  height: 7vw;
  margin: auto;
  margin-top: 1vw;
  margin-bottom: 1vw;
  background-color: rgb(255, 255, 255);
  padding-bottom: 10px;
}

.productDetails h4 {
  font-size: 14px;
}

.labelContainer {
  
  width: 95%;
  height: 2vw;
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: auto;
  
}

/*---------------------------*/

.checkmarkBlack input, .checkmarkBlue input, .checkmarkGrey input, .checkmarkMagenta input, .checkmarkPink input, .checkmarkYellow input, .checkmarkLogo input {
  opacity: 0;
  width: 5vw;
  height: 5vw;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

.checkmarkBlack, .checkmarkBlue, .checkmarkGrey, .checkmarkMagenta, .checkmarkPink, .checkmarkYellow, .checkmarkLogo {
  text-align: center;
  width: 5vw;
  height: 5vw;
  display: inline-block;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  border-radius: 10px;
}

.checkmarkLogo {
  border: 1px red solid;
  
  
  
}

.checkmarkBlack {
  background-color: rgb(2, 2, 2);
}

.checkmarkBlue {
  background-color: blue;
}

.checkmarkGrey {
  background-color: Grey;
}

.checkmarkMagenta {
  background-color: Magenta;
}

.checkmarkPink {
  background-color: Pink;
}

.checkmarkYellow {
  background-color: Yellow;
}
/*-------------------------*/


#reset {
  background-color: white;
}