.App {
  text-align: center;
}

.frame {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
}

.frameLeft {
  display: block;
  background-color: rgb(204, 204, 204);
  width: 60%;
  
}

.frameRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(194, 194, 194);
  width: 35%;
  
}

img.positionFixed {
  
  border: 1px red solid;
  position: absolute;
  
  left: 7.5vw;
  
  max-width: 45vw;
  max-height: auto;
}

/*---------------------------*/

.checkmarkBlack input, .checkmarkBlue input, .checkmarkGrey input, .checkmarkMagenta input, .checkmarkPink input, .checkmarkYellow input, .checkmarkLogo input {
  opacity: 0;
  width: 5vw;
  height: 5vw;
}

.checkmarkBlack, .checkmarkBlue, .checkmarkGrey, .checkmarkMagenta, .checkmarkPink, .checkmarkYellow, .checkmarkLogo {
  text-align: center;
  width: 5vw;
  height: 5vw;
  display: inline-block;
  margin: 0.3vw;
  border-radius: 10px;
}



.checkmarkBlack {
  background-color: black;
}

.checkmarkBlue {
  background-color: blue;
}

.checkmarkGrey {
  background-color: Grey;
}

.checkmarkMagenta {
  background-color: Magenta;
}

.checkmarkPink {
  background-color: Pink;
}

.checkmarkYellow {
  background-color: Yellow;
}
/*-------------------------*/


#reset {
  background-color: white;
}